body {
  background-color: rgb(255, 225, 127);
}


/* Font */
h2 {
  color: #777; /* Mengubah warna font */
  font-weight: 600; /* ketebalan font */
  font-family: sans-serif; /* Mengubah gaya font */
  font-style: italic; /* Mengstyle font */
}

/* Text */
p {
  font-size: 20px;
  font-weight: bold;
  color: blueviolet;
  text-align: center;
  text-shadow: 2px 2px 3px rgb(255, 102, 0);
}


/* styling background*/
table {
  color: red;
}

tr:nth-child(1) {
  font-size: 1rem;
  background-color: rgb(185, 185, 185);
  color: black;
}

td:nth-child(1) {
  background-color: rgb(179, 250, 14);
}